﻿@*@model GridviewAJAX.Models.Info*@

@{
    ViewData["Title"] = "Index";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <link href="~/Scripts/bootstrap.css" rel="stylesheet"/>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>ID</th>
            </tr>
        </thead>

        <tbody id="tblData"></tbody>
    </table>

    <div id="paged">

    </div>

    <script src="~/Scripts/Index.js"></script>
    <link href="~/Scripts/Index.css" rel="stylesheet" />
</body>
</html>

